.about
  display: flex
  flex-direction: column
  align-items: center
  img 
    width: 90%
    max-width: 500px
    max-height: 500px
    margin-bottom: -75px
    z-index: headshotZIndex

.about_desc
  max-width: 950px
  margin: 20px
  text-align: center
  @media(min-width: 400px)
    margin-top: 75px
  h2
    color: gunmetal
  p
    margin-top: 15px
    font-size: 2.2rem
    line-height: 3.2rem