footer 
  background-color: pastel_gray
  display: flex
  flex-direction: column
  align-items: center

  .fab
    font-size: 4rem

.btn_resume
  font-size: 3em
  color: pastel_gray
  border-radius: 3px
  border: 2px solid gunmetal
  background-color: razzmatazz
  padding: 2px 9px
  margin: 25px

.btn_resume:hover
  background-color: maroon_flush
  transition: all 200ms linear

.icon_buttons
  display: flex
  margin-top: 25px

.icon_button
  background-color: razzmatazz
  width: 50px
  height: 50px
  padding: 10px
  margin: 10px
  border-radius: 3px
  border: 2px solid gunmetal
  i 
    padding: 7px
    color: pastel_gray
  i.fa-youtube
    padding: 5px 3px
  i.fa-medium-m, i.fa-codepen
    padding: 5px

.icon_button:hover
  background-color: maroon_flush
  transition: all 100ms linear