.portfolio
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
  grid-auto-rows: 1fr
  background-color: razzmatazz
  text-align: center
  font-size: 1.9em
  h1, h2, h3, h4, p, a
    color: v_white
    text-shadow: gunmetal 0px 0px 1px

.item
  display: flex;
  // width: 200px
  // height: 200px

.item-inner
  display: grid
  align-items: center
  justify-content: center
  img
    grid-column: 1
    grid-row: 1
    width: 100%
    object-fit: fill
    position: relative
    z-index: portfolio_z_index
  .overlay
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    grid-column: 1
    grid-row: 1
    width: 100%
    height: 100%
    z-index: portfolio_image_z_index
    background-color: rgba(v_black, 0.15)
  .overlay:hover
    background-color: rgba(v_black, 0.25)

.item-project
  .overlay
    background-color: rgba(maya_blue, 0.75)
    h1, h2, h3, h4, p, a, div
      color: v_black
  .overlay:hover
    background-color: rgba(maya_blue, 0.85)

.item-article
  .overlay
    background-color: rgba(dark_puce, 0.75)
    h1, h2, h3, h4, p, a, div
      color: v_white
  .overlay:hover
    background-color: rgba(dark_puce, 0.85)

.item-video
  .overlay
    background-color: rgba(maroon_flush, 0.7)
    h1, h2, h3, h4, p, a, div
      color: v_white
