.skills
  font-size: 2.25em
  text-align: center
  font-family: font-mono
  font-weight: 500
  color: pastel_gray
  background-color: gunmetal
  padding: 25px 10px 10px 10px
  h2
    margin-bottom: 10px
  button
    border: 2px solid pastel_gray
    padding: 4px 8px
  .fab, .fas
    font-size: 26rem
    opacity: 0.25

.skills_cards
  display: flex

.skills_card
  display: flex
  position: relative
  flex-direction: column
  align-items: center
  background-color: pastel_gray 
  color: gunmetal
  width: 250px
  margin: 40px auto
  padding: 10px

.skills_card-desc
  position: absolute
  font-size: 0.9em
  width: 215px
  margin-top: 50px
  font-weight: 500
  font-family: font-sans

.skills_card-top
  display: flex
  justify-content: space-between
  width: 250px

.skills_card-bottom
  display: flex
  justify-content: space-between
  width: 250px
  margin-top: 25px;
