// FONTS
font_sans = 'Fira Sans', Helvetica, sans-serif
font_mono = 'Fira Mono', 'Lucida Console', monospace

// COLORS
maya_blue = hsl(201, 93%, 71%) // accent (from icon)
razzmatazz = hsl(336, 85%, 53%) // accent (from icon)
gunmetal = hsl(233, 22%, 23%)
maroon_flush = hsl(340, 72%, 39%)
v_black = hsl(0, 0%, 5%)
eerie_black = hsl(20, 6%, 9%)
dark_puce = hsl(327, 7%, 25%)
puce = hsl(330, 11%, 70%)
pastel_gray = hsl(330, 11%, 78%)
v_white = hsl(0, 0%, 95%)

// BREAKPOINTS
desktop = 70em
laptop = 64em
tablet = 50em
phablet = 37.5em
phone = 28em

// MATERIAL DESIGN BOX SHADOW
box_shadow_1 = 0 1px 3px hsla(0, 0%, 0%, 0.12), 0 1px 2px hsla(0, 0%, 0%, 0.24)
box_shadow_2 = 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23)
box_shadow_3 = 0 10px 20px hsla(0, 0%, 0%, 0.19), 0 6px 6px hsla(0, 0%, 0%, 0.23)
box_shadow_4 = 0 14px 28px hsla(0, 0%, 0%, 0.25), 0 10px 10px hsla(0, 0%, 0%, 0.22)
box_shadow_5 = 0 19px 38px hsla(0, 0%, 0%, 0.3), 0 15px 12px hsla(0, 0%, 0%, 0.22)

// Z-INDEX
background_z_index = -1000
headshot_z_index = -900
livejournalZIndex = -800

portfolio_z_index = 100
portfolio_image_z_index = 101