footer 
  display: grid
  grid-template-rows: auto auto
  width: 100%
  align-items: center
  justify-items: center
  background: astronaut-blue
  padding: 2em 0

.icon_buttons 
  grid-row-start: 2
  display: flex
  justify-content: space-around
  width: 100%

.btn_icon 
  transition: background-color 0.25s ease
  background-color: gallery
  border-radius: 4px
  height: 3em
  padding: 0.25em

.btn_icon:hover 
  background-color: darken(gallery, 30%)

.btn_icon > svg 
  color: astronaut-blue
  width: 3em
  height: 3em

.btn_resume 
  font-family: font-mono
  font-size: 1.6rem
  background-color: astronaut-blue
  transition: background-color 0.25s ease
  border: 2px solid golden-fizz
  border-radius: 4px
  padding: 1em 0
  width: 13em
  color: golden-fizz
  margin-bottom: 1.5em
  text-align: center
  grid-row-start: 1

.btn_resume:hover 
  background-color: lighten(astronaut-blue, 10%)
  
