header
  position: relative

.header
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin: 15px

.menu
  display: flex
  justify-content: flex-end
  @media(max-width: 450px)
    justify-content: flex-start

.menuButton
  margin: 0

.navlinks
  margin: 15px

.navlinks_link
  color: razzmatazz
  i
    width: 50px
    font-size: 2rem
  span
    font-size: 2rem

.navlinks_link:hover
  color: maroonFlush