@require './vars'

html
  font-size: 62.5% /* Now 10px = 1rem! */
  font-family: font-sans
  max-width: 100%
  margin: 0
  padding: 0

body
  background-color: pastelGray
  margin: 0
  padding: 0

h1
  font-size: 5rem

h2
  font-size: 4rem

h1,
h2,
h3,
h4,
h5,
h6
  font-family: font-mono
  color: razzmatazz
  font-weight: 500;
  margin: 0

a
  text-decoration: none

ul,
ol,
li,
i,
span
  font-family: font-sans
  list-style-type: none
  padding: 0;
  margin: 0;

aside
  font-family: font-sans

button,
input[type='submit'],
input[type='reset']
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

@require './background'

.body
  overflow: auto

@require './header'
@require './about'
@require './livejournal'