@require './vars'

html
  font-size: 62.5% /* Now 10px = 1rem! */
  font-family: font-sans
  margin: 0
  padding: 0
  max-width: 100%

body
  background-color: gallery

* 
  font-size: 1.6rem

h1
  font-size: 5rem

h2
  font-size: 4rem

h1,
h2,
h3,
h4,
h5,
h6
  font-family: font-handwriting

a
  text-decoration: none

ul,
ol,
li
  font-family: font-mono
  list-style-type: none

aside
  font-family: font-mono

button,
input[type='submit'],
input[type='reset']
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit

@media (min-width: laptop)
  h1
    font-size: 4rem

  h2
    font-size: 3rem

  *
    font-size: 1.2rem

@require './navbar'
@require './about'
@require './livejournal'
@require './skills'
@require './bottom'