
.livejournal 
  display: none

@media (min-width: phablet) 
  .livejournal 
    display: block
    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%)
    -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%)
    background-color: golden-fizz
    font-size: 1rem
    width: 100%
    align-self: end
    margin-bottom: 1em

  .livejournal > table 
    margin-left: 1em
    margin-right: 1em
    
  .livejournal > .livejournal_label 
    font-family: font-mono
    text-align: right
    color: astronaut-blue
    vertical-align: top
    
  .livejournal > .livejournal_attr 
    font-family: font-mono
    text-align: left
    font-weight: bold
    color: cod-gray
    padding-left: 0.25em
    vertical-align: top
  
