.livejournal
  position: relative
  font-size: 1.8rem
  @media(max-width: 400px)
    font-size: 1.5rem
  table
    margin: 75px 10px 0 10px
    transform: rotate(2deg)
    @media(max-width: 400px)
      margin: 50px 0 0 0
      transform: rotate(0deg)
      background-color: razzmatazz
  td
    padding: 2px
  h2
    margin-top: 15px

.livejournal_background
  position: absolute
  z-index: livejournalZIndex
  @media(max-width: 400px)
    display: none

.livejournal_background-rect
  fill: razzmatazz

.livejournal_attr
  text-align: right
  font-weight: 600