html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: var(--puce);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font_mono);
  color: var(--razzmatazz);
  font-weight: 500;
  margin: 0;
}

a {
  font-family: var(--font_sans);
  color: var(--gunmetal);
  text-decoration: none;
}

p, ul, li, ol, tr, td, figcaption, caption {
  font-family: var(--font_sans);
  color: var(--v_black);
}

label {
  display: block;
}

input, button, select, textarea {
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
