section(id='about', class='about')
  .about_right
    img(class='icon', src='../images/kim_icon_500x500.png', srcset='../images/kim_icon_250x250.png 721w, ../images/kim_icon_500x500.png 1442w', alt='Art by @lady_red_art on Instagram')
    .livejournal
      table
        tr(class='livejournal_data')
          td(class='livejournal_label') currently reading
          td(class='livejournal_attr') The Handmaid's Tale
        tr(class='livejournal_data')
          td(class='livejournal_label') currently playing
          td(class='livejournal_attr') Final Fantasy X
        tr(class='livejournal_data')
          td(class='livejournal_label') currently watching
          td(class='livejournal_attr') RuPaul's Drag Race
        tr(class='livejournal_data')
          td(class='livejournal_label') currently playing (mmo edition)
          td(class='livejournal_attr') Final Fantasy XIV
        tr(class='livejournal_data')
          td(class='livejournal_label') currently watching (anime edition)
          td(class='livejournal_attr') Love Is War
  .about_left
    h2 About Me
    aside I’m a software developer who has been living and working in the Twin Cities since I graduated from the University of Minnesota in 2015. I'm a generalist with experience making applications for web, Windows and iOS. I currently make web apps for Minnesota Public Radio. I hope to post my side projects here, and I hope to actually start blogging.