section(id='about', class='about')
  img(class='icon', src='../images/kim_icon_500x500.png', alt='Art by @lady_red_art on Instagram')
  .livejournal
    svg(class="livejournal_background", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1000 525")
      polygon(stroke="0", class="livejournal_background-rect", points="0 50 1000 150 1000 525 0 475")
    table(id="livejournal")
  .about_desc
    h2 About Me
    p I’m a software developer and writer who has been living and working in the Twin Cities since I graduated from the University of Minnesota in 2015. I'm a generalist with experience making applications for web, Windows and iOS. I currently make web apps for Minnesota Public Radio, and I'm starting to dabble in video essay production.