footer
  .icon_buttons
    a(href='https://github.com/kimthompson')
      i(class='fa fa-github')
    a(href='https://medium.com/kim-thompson')
      i(class='fa fa-medium')
    a(href='https://codepen.io/KimicalBurn/#')
      i(class='fa fa-codepen')
    a(href='https://twitter.com/byKimThompson')
      i(class='fa fa-twitter')
  a(href='../Feb2019.pdf', class='btn_resume') Resume
