footer
  .icon_buttons
    //- a(class='btn_icon btn_icon-github', href='https://github.com/kimthompson')
    //-   img(src='../images/icons/github-alt-brands.svg', alt='GitHub')
    //- a(class='btn_icon btn_icon-medium', href='https://medium.com/kim-thompson')
    //-   img(src='../images/icons/medium-m-brands.svg', alt='Medium')
    //- a(class='btn_icon btn_icon-codepen', href='https://codepen.io/KimicalBurn/#')
    //-   img(src='../images/icons/codepen-brands.svg', alt='Codepen')
    //- a(class='btn_icon btn_icon-twitter', href='https://twitter.com/byKimThompson')
    //-   img(src='../images/icons/twitter-brands.svg', alt='Twitter')
  //- a(href='../Feb2019.pdf', class='btn_resume') Resume