footer
  .icon_buttons
    a(class='btn_icon btn_icon-github', href='https://github.com/kimthompson')
      //- i.fa.fa-github-alt(aria-hidden='true')
      img(src='../images/icons/github-alt-brands.svg', alt='GitHub')
    a(class='btn_icon btn_icon-medium', href='https://medium.com/kim-thompson')
      //- i.fa.fa-medium-m(aria-hidden='true')
      span Medium
    a(class='btn_icon btn_icon-codepen', href='https://codepen.io/KimicalBurn/#')
      //- i.fa.fa-codepen(aria-hidden='true')
      span Codepen
    a(class='btn_icon btn_icon-twitter', href='https://twitter.com/byKimThompson')
      //- i.fa.fa-twitter(aria-hidden='true')
      span Twitter
  a(href='../Feb2019.pdf', class='btn_resume') Resume