footer
  .icon_buttons
    .icon_button
      a(href='https://github.com/kimthompson')
        i(class='fab fa-github-alt')
    .icon_button
      a(href='https://medium.com/kim-thompson')
        i(class='fab fa-medium-m')
    .icon_button
      a(href='https://codepen.io/KimicalBurn/#')
        i(class='fab fa-codepen')
    .icon_button
      a(href='https://twitter.com/byKimThompson')
        i(class='fab fa-twitter')
    .icon_button
      a(href='https://youtube.com/KimicalBurn')
        i(class='fab fa-youtube')
  a(href='../Feb2019.pdf', class='btn_resume') Resume
