footer
  .icon_buttons
    .icon_button
      a(href='https://github.com/kimthompson', aria-label="GitHub")
        i(class='fab fa-github-alt')
    .icon_button
      a(href='https://medium.com/kim-thompson', aria-label="Medium")
        i(class='fab fa-medium-m')
    .icon_button
      a(href='https://codepen.io/KimicalBurn/#', aria-label="Codepen")
        i(class='fab fa-codepen')
    .icon_button
      a(href='https://twitter.com/byKimThompson', aria-label="Twitter")
        i(class='fab fa-twitter')
    .icon_button
      a(href='https://youtube.com/KimicalBurn', aria-label="YouTube")
        i(class='fab fa-youtube')
  a(href='../Feb2019.pdf', class='btn_resume') Resume
