header
  .siteName
    a(href='/')
      h1 Kim Thompson
  nav
    a(href='#about')
      .navlink
        //- i.fa.fa-info(aria-hidden='true')
        span About
    a(href='#skills')
      .navlink
        //- i.fa.fa-code(aria-hidden='true')
        span Skills
    a(href='https://medium.com/kim-thompson')
      .navlink
        //- i.fa.fa-rss(aria-hidden='true')
        span Blog