header
  .header
    a(href="/")
      h1(class="header_title") Kim Thompson
    button(class="menuButton", id="menuToggle", aria-label="menu button")
      i(class="fa fa-caret-down", id="menuButton")
  .menu
    nav
      ul(id="menu", class="navlinks hide")
        li(class="navlinks_link")
          a(href='#about', aria-label="about me")
            i(class="fa fa-info")
            span About
        li(class="navlinks_link")
          a(href='#skills', aria-label="skills")
            i(class="fa fa-code")
            span Skills
        li(class="navlinks_link")
          a(href='https://medium.com/kim-thompson' aria-label="my medium blog")
            i(class="fa fa-rss")
            span Blog
