header
  .header
    a(href="/")
      h1 Kim Thompson
    button(id="menuToggle")
      i(class="fa fa-caret-down")
  .menu
    nav(class="navlinks hide", id="menu")
      ul
        li
          a(class="navlinks_link", href='#about')
            i(class="fa fa-info")
            span About
        li
          a(class="navlinks_link", href='#skills')
            i(class="fa fa-code")
            span Skills
        li
          a(class="navlinks_link", href='https://medium.com/kim-thompson')
            i(class="fa fa-rss")
            span Blog