doctype html  
html(lang='en')  
head
  title Kim Thompson
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Mono|Fira+Sans:300,400,400i,700|Rock+Salt|Lato')
  link(rel='stylesheet', href='styles/index.styl')
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
body
  include _header.pug
  include _about.pug
  include _skills.pug
  include _footer.pug