doctype html  
html(lang="en")  
  head
    title Kim Thompson | Software Developer
    meta(charset="UTF-8")/
    meta(name="theme-color", content="#ed2173")/
    meta(name="background_color", content="#2e3148")/
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    meta(http-equiv="X-UA-Compatible", content="ie=edge")/
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Fira+Sans:200,400,400i,600&display=swap")/
    link(rel="stylesheet", href="styles/index.styl")/
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css")/
  body
    svg(class="background", preserveAspectRatio="none", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1000 1000")
      polygon(stroke="0", class="background_tri-top", points="0 0 1000 0 1000 400 500 650 0 400")
    .body 
      include _header.pug
      include _about.pug
      include _portfolio.pug
      include _skills.pug
      include _footer.pug
    script(src="scripts/eventListeners.js")
    script(src="scripts/genLivejournal.js")
    script(src="scripts/genPortfolio.js")
    script(src="scripts/genSkillCards.js")
    script(src="scripts/swipeCards.js")
